@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navLink {
    @apply text-white hover:text-dark-orange hover:scale-95 opacity-100;
  }

  .about-p {
    @apply mt-10 lg:max-w-[65%] text-xl lg:text-2xl text-gray-500 font-semibold leading-relaxed tracking-wide font-playfair;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: "#FAF9F6";
}
